mat-sidenav-container{
text-align: center;
width: 80px;
height: 100vh;
transition: all 0.5s ease-in-out;
animation: slideIn 1s 1;
}

@keyframes slideIn {
    from{transform: translateX(-80px);}
    to{transform: translateX(0px);}
}

mat-sidenav-container:hover{
    width: 210px;
    transition: all 0.5s ease-in-out;
}
mat-sidenav-container:hover #logo{
   padding-left: 5rem;
}

mat-sidenav{
    padding:2rem 0;
    background-color: black;
}

#logo{
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    transition: all 0.5s linear;
}

#buttons{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}

ul li{
    margin-bottom: 2rem;
}

ul li:hover{
    background-color: rgb(77, 77, 77);
    transition: all 0.3s linear;
}

ul a{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: cyan;
    padding: 1rem 1rem;
    cursor: pointer;
}

a span{
    font-size: 30px;
    margin-left: 2rem;
}

.icon{
    color: cyan;
    animation: show 1.5s 1;
}

@keyframes show {
    from{transform: translateX(-80px);}
    to{transform: translateX(0px);}
}

.onActive{
    color: white;
}
/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */